<html xmlns:th="https://www.thymeleaf.org/">
 <head>
  <title>Document</title>
 </head>
 <body>
  <h3>EMPLOYEE DATA PAGE</h3>
  <table border="1">
  	<tr>
  		<th>ID</th>
  		<th>NAME</th>
  		<th>SAL</th>
  		<th>GEN</th>
  		<th>DEPT</th>
  		<th>ADDR</th>
  		<th>OPERATION</th>
  		
  	</tr>
  	<tr th:each="ob:${list}">
  		<td>[[${ob.empId}]]</td>
  		<td>[[${ob.empName}]]</td>
  		<td>[[${ob.empSal}]]</td>
  		<td>[[${ob.empGen}]]</td>
  		<td>[[${ob.empDept}]]</td>
  		<td>[[${ob.empAddr}]]</td>
  		<td> 
  			<a th:href="@{/employee/delete(id=${ob.empId})}">DELETE</a>|
  			<a th:href="@{/employee/edit(id=${ob.empId})}">EDIT</a>
  		</td>
  	</tr>
  </table><br>
  <div>[[${message}]]</div>
  
  
 </body>
</html>